<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include ('partials/nav') %>

    <h1>User name is <%= user %></h1>
    <h1>User age is <%= data.age %></h1>
    <h1>User height is <%= data.height %></h1>
  </body>
</html>
