<nav>
    <ul>
        <li> <a href="/">home</a></li>
        <li><a href="/contact">contacts</a></li>
        <li><a href="/user/1">User</a></li>
        <li><a href="/profile?name=abdan&size=lg">profile</a></li>
        <li><a href="/login">login</a></li>
    </ul>
</nav>